<br />
<div class="panel panel-exchaggle">
    <div class="panel-heading">
        About
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="alert exchaggle-alert-dark clear-all">
                    <p><strong>About Exchaggle</strong></p>
                    <p>Exchaggle is inspired by concepts from popular websites where users can post classified ads to sell their items or services for cash or for items and other services. This application takes a portion of this functionality and expands it with the focus on users trading used or new items for other used or new items exclusively.</p>
                    <p>The name Exchaggle is a playful polymerization of the words exchange and haggle since the function of this website involves both of these actions. Users can offer or haggle their uploaded items for other items in which they exchange them.</p>
                </div>
            </div>
            <div class="col-xs-12 visible-xs">
                <br />
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="alert exchaggle-alert-dark clear-all">
                    <strong>Mohawk College Capstone Project</strong><br />
                    Statement of Authorship:<br />
                    I Dylan Hernandez, 000307857 certify that this material is my original work. No other person's work has been used without due knowledge. I have not made my work available to anyone else.
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("Index", "Settings")" class="btn btn-block btn-exchaggle-secondary">Back</a>
            </div>
        </div>
    </div>
</div>